@page "/"

<PageTitle>Home</PageTitle>

<h1>Check out the simulators</h1>

<NavLink class="nav-link" href="consanguinity-simulator">
    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Consanguinity Simulator
</NavLink>
<br/>
<div class="nav-link">
<a target="_blank" href="https://github.com/ZigZorg/ZigZorg.github.io">Repo</a>
</div>